body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #aaa;
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .alert-success {
    color: green;
  }
  
  .alert-danger {
    color: red;
  }
  